*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  text-decoration: none;
  list-style: none;
}
#header {
  background-color: #36348e;
  .container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    color: white;
    padding: 10px 0;
    .email-phone {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    span {
      display: flex;
      gap: 5px;
    }
  }
}

#Future {
  width: 100%;
  position: sticky;
  padding: 2px;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: white;
  .container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    .lists {
      ul {
        display: flex;
        align-items: center;
        gap: 20px;
        li {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 18px;
          a {
            color: black;
          }
        }
      }
    }
    .input-icon {
      display: flex;
      align-items: center;
      gap: 20px;
      .input {
        input {
          border: 1px solid #36348e;
          padding: 5px;
          font-size: 18px;
        }
      }
      .icon {
        color: #36348e;
        font-size: 25px;
      }
    }
  }
}
#Home {
  position: relative;
  .home-image {
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
      filter: brightness(0.3);
    }
  }
  .content {
    position: absolute;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 5%;
    left: 0;
    span {
      display: flex;
      align-items: center;
      font-size: 25px;
      gap: 10px;
      font-weight: bold;
      color: #09a24f;
    }
    h1 {
      font-size: 60px;
      color: white;
      width: 50%;
    }
    p {
      color: white;
      font-weight: 500;
      font-size: 20px;
      width: 60%;
    }
    .buttons {
      display: flex;
      align-items: center;
      gap: 25px;
      #View {
        background-color: #09a24f;
        color: white;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 18px;
        padding: 15px;
        transition: all 0.4s ease;
        .fa-arrow-right {
          transform: rotate(-20deg);
          transition: all 0.4s ease;
        }
        &:hover {
          background-color: #110c2d;
          .fa-arrow-right {
            transform: rotate(0deg);
          }
        }
      }
      #video {
        display: flex;
        align-items: center;
        gap: 6px;
        color: white;
        font-size: 20px;
      }
    }
  }

  .arrows {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 2;
    button {
      border: 1px solid white;
      color: white;
      padding: 20px;
      border-radius: 50%;
      background-color: transparent;
      font-size: 18px;
      transition: all 0.4s ease;
      &:hover {
        background-color: #09a24f;
      }
    }
  }
  .card-wrappers {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .card {
      width: 100%;
      display: flex;
      gap: 15px;
      padding: 30px;
      color: white;
      align-items: center;
      transition: all 0.4s ease;
      &:nth-child(2n) {
        background-color: #09a24f;
      }
      &:nth-child(2n + 1) {
        background-color: #36348e;
      }
      .icon {
        font-size: 40px;
      }
      h3 {
        font-size: 25px;
      }
      &:hover {
        background-color: #110c2d;
      }
    }
  }
}
#Admin-Panel {
  margin: 20px 0;
  .container {
    position: relative;
    width: 90%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    h1 {
      font-size: 60px;
    }
    .image {
      width: 100%;
      position: relative;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    #register-form {
      background-color: white;
      padding: 40px;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      gap: 20px;
      top: 50%;
      .inputs {
        width: 100%;
        display: flex;
        gap: 10px;
        justify-content: space-around;
        input {
          width: 100%;
          padding: 10px;
          border: 1px solid rgba(0, 0, 0, 0.398);
          font-size: 18px;
        }
        .left-inputs,
        .input-right {
          width: 100%;
          display: flex;
          gap: 20px;
          flex-direction: column;
        }
      }
      input,
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.398);
      }
      button {
        cursor: pointer;
        background-color: #36348e;
        color: white;
        padding: 15px;
        font-size: 18px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
      }
    }
  }
}
#campus-history {
  margin: 280px 0 100px;
  .container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    .left-card {
      border-left: 2px solid rgba(0, 0, 0, 0.2);
      padding: 15px;
      h1 {
        display: flex;
        flex-direction: column;
        font-size: 70px;
        #history {
          padding: 0px 50px;
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        span {
          font-size: 20px;
          color: gray;
        }
        button {
          width: 35%;
          background-color: #110c2d;
          color: white;
          display: flex;
          gap: 8px;
          font-size: 18px;
          padding: 15px;
          transition: all 0.4s ease;
          .fa-arrow-right {
            transform: rotate(-40deg);
            transition: all 0.4s ease;
          }
          &:hover {
            background-color: #09a24f;
            .fa-arrow-right {
              transform: rotate(40deg);
            }
          }
        }
      }
    }
    .right-card {
      position: relative;
      .image {
        position: absolute;
        top: -80px;
        left: -50px;
      }
      .main-image {
        .campus {
          /* width: 100%; */
          img {
            width: 100%;
            object-fit: cover;
          }
        }
        .video-btn {
          position: absolute;
          left: 50%;
          top: 40%;
        }
      }
    }
  }
}
#discovery-program {
  .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    h1{
      font-size: 50px;
      margin: 30px auto;
    }
    .card-wrappers {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .card {
        width: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        transition: all .4s ease;
        &:nth-child(2n + 1) {
          background-color: #09a24f;
          color: white;
          transition: all .4s ease;
          &:hover{
            background-color: #110c2d;
          }
        }
        &:nth-child(2n) {
          background-color: #36348e;
          color: white;
        }
        .fa-building-columns,
        .fa-graduation-cap {
          border: 1px solid white;
          font-size: 40px;
          padding: 15px;
          border-radius: 50%;
        }
        .content {
          display: flex;
          flex-direction: column;
          gap: 8px;
          h3 {
            font-size: 22px;
          }
          span {
            font-size: 18px;
          }
        }
        .link span a {
          width: 37%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0px auto;
          gap: 8px;
          padding: 2px 0;
          position: relative;
          font-size: 18px;
          color: white;
          &::after {
            content: "";
            width: 100px;
            position: absolute;
            border: 1px solid white;
            bottom: 0px;
            left: 2%;
          }
          &:hover {
            .fa-arrow-right {
              transform: rotate(0deg);
            }
          }
          .fa-arrow-right {
            transform: rotate(-40deg);
            transition: all 0.4s ease;
          }
        }
        .buttons{
            display: flex;
            flex-direction: column;
            gap: 10px;
            button{
                border: 1px solid rgba(255, 255, 255, 0.349);
                color: white;
                padding: 17.7px 0 17.8px 0;
                font-size: 23px;
                display: flex;
                gap: 8px;
                justify-content: center;
                align-items: center;
                transition: all .4s ease;
                &:hover{
                    background-color: #09a24f;
                }
            }
        }
        
      }
    }
  }
}
#finansial-aid{
  margin: 40px auto;
  position: relative;
  .image{
    width: 100%;
    filter: brightness(.3);
    img{
      width: 100%;
    }
  }
  .content{
    width: 55%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: white;
    top: 25%;
    left: 25%;
    h1{
      font-size: 55px;
    }
    span{
      text-align: center;
      font-size: 19px;
    }
    button{
      width: 30%;
      border: 1px solid rgba(255, 255, 255, 0.349);
      color: white;
      padding: 10px;
      font-size: 20px;
      display: flex;
      gap: 8px;
      justify-content: center;
      align-items: center;
      transition: all .4s ease;
      .fa-arrow-right{
      transition: all .4s ease;
      transform: rotate(-40deg);
      }
      &:hover{
          background-color: #09a24f;
          .fa-arrow-right{
            transform: rotate(0deg);
          }
      }
  }
  }
}
#studyHub-university{
  position: relative;
  .container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    .text-head{
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1{
        width: 40%;
        font-size: 50px;
      }
      span{
        font-size: 19px;
        width: 50%;
        color: gray;
      }
    }
    .card-wrappers{
      margin: 40px auto;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      align-items: center;
      justify-content: center;
      gap: 25px;
      .card{
        position: relative;
        .content{
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: #110c2d;
          padding: 20px;
          color: white;
          display: flex;
          flex-direction: column;
          /* align-items: center; */
          gap: 30px;
          .head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 45px;
          }
          .main{
            display: flex;
            flex-direction: column;
            gap: 20px;
            h3{
              font-size: 24px;
            }
            span{
              font-size: 18px;
              opacity: .7;
            }
          }
        }
        .image{
          opacity: 0;
          position: relative;
          width: 100%;
          transition: all .6s ease;
          img{
            width: 100%;
            object-fit: cover;
          }
        }
        &:hover .image{
          opacity: 1;
        }
      }
    }
  }
}
#fix-icon {
  background-color: #36348e;
  color: white;
  padding: 20px;
  font-size: 20px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: all 0.4s ease;
  &:hover {
    opacity: 0.9;
  }
}
